Library
Temp
.vs/Among-the-Stars/v16/.suo
Among-the-Stars.sln
Assembly-CSharp.csproj
Assembly-CSharp.csproj
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
*.csproj
obj
Assembly-CSharp.csproj
Packages/packages-lock.json
ProjectSettings/ProjectVersion.txt
Packages
